In [159]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import Adam
import pandas as pd

In [160]:
# Step 1: Load data from CSV
data = pd.read_csv(r"C:\Users\Jothish Thomas\Downloads\concrete_data.csv")

In [161]:
print (data.columns)

Index(['Cement', 'Blast Furnace Slag', 'Fly Ash', 'Water', 'Superplasticizer',
       'Coarse Aggregate', 'Fine Aggregate', 'Age', 'Strength'],
      dtype='object')

In [162]:
data.head(10)

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30
5,266.0,114.0,0.0,228.0,0.0,932.0,670.0,90,47.03
6,380.0,95.0,0.0,228.0,0.0,932.0,594.0,365,43.70
7,380.0,95.0,0.0,228.0,0.0,932.0,594.0,28,36.45
8,266.0,114.0,0.0,228.0,0.0,932.0,670.0,28,45.85
9,475.0,0.0,0.0,228.0,0.0,932.0,594.0,28,39.29

In [163]:
# Extracting features (X) and target variable (y)
X = data.drop('Strength', axis=1)  # Features
y = data['Strength']  # Target variable

In [164]:
# Split data into training and test sets
mse_list = []
for _ in range(50):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [165]:
# Build the model
model = Sequential()
model.add(Dense(10, input_dim=X_train.shape[1], activation='relu'))
model.add(Dense(1))

C:\Users\Jothish Thomas\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [166]:
# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')

In [167]:
# Train the model
model.fit(X_train, y_train, epochs=50, verbose=0)

In [168]:
# Evaluate the model
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
mse_list.append(mse)

10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step

In [169]:
# Report mean and standard deviation of mean squared errors
mean_mse = np.mean(mse_list)
std_mse = np.std(mse_list)

In [170]:
print("Mean of Mean Squared Errors:", mean_mse)
print("Standard Deviation of Mean Squared Errors:", std_mse)

Mean of Mean Squared Errors: 125.11743810819394
Standard Deviation of Mean Squared Errors: 0.0

In [171]:
# Identify columns to normalize
columns_to_normalize = ['Cement', 'Blast Furnace Slag', 'Fly Ash', 'Water', 'Superplasticizer',
       'Coarse Aggregate', 'Fine Aggregate', 'Age', 'Strength'] 

# Normalize data
for column in columns_to_normalize:
    data[column] = (data[column] - data[column].min()) / (data[column].max() - data[column].min())

# Write normalized data to a new CSV file
data.to_csv('normalized_data.csv', index=False)

In [172]:
data1 = pd.read_csv("normalized_data.csv")

In [173]:
print (data.columns)

Index(['Cement', 'Blast Furnace Slag', 'Fly Ash', 'Water', 'Superplasticizer',
       'Coarse Aggregate', 'Fine Aggregate', 'Age', 'Strength'],
      dtype='object')

In [174]:
data.head(10)

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,1.000000,0.000000,0.0,0.321086,0.07764,0.694767,0.205720,0.074176,0.967485
1,1.000000,0.000000,0.0,0.321086,0.07764,0.738372,0.205720,0.074176,0.741996
2,0.526256,0.396494,0.0,0.848243,0.00000,0.380814,0.000000,0.739011,0.472655
3,0.526256,0.396494,0.0,0.848243,0.00000,0.380814,0.000000,1.000000,0.482372
4,0.220548,0.368392,0.0,0.560703,0.00000,0.515698,0.580783,0.986264,0.522860
5,0.374429,0.317195,0.0,0.848243,0.00000,0.380814,0.190667,0.244505,0.556871
6,0.634703,0.264329,0.0,0.848243,0.00000,0.380814,0.000000,1.000000,0.515386
7,0.634703,0.264329,0.0,0.848243,0.00000,0.380814,0.000000,0.074176,0.425065
8,0.374429,0.317195,0.0,0.848243,0.00000,0.380814,0.190667,0.074176,0.542170
9,0.851598,0.000000,0.0,0.848243,0.00000,0.380814,0.000000,0.074176,0.460446

In [175]:
# Extracting features (X) and target variable (y)
A = data1.drop('Strength', axis=1)  # Features
b = data1['Strength']  # Target variable

In [176]:
# Split data into training and test sets
mse_list1 = []
for _ in range(50):
    A_train, A_test, b_train, b_test = train_test_split(A, b, test_size=0.3, random_state=42)

In [177]:
# Build the model
model1 = Sequential()
model1.add(Dense(10, input_dim=A_train.shape[1], activation='relu'))
model1.add(Dense(1))

C:\Users\Jothish Thomas\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [178]:
# Compile the model
model1.compile(optimizer='adam', loss='mean_squared_error')

In [179]:
# Train the model
model1.fit(A_train, b_train, epochs=50, verbose=0)

In [180]:
# Evaluate the model
b_pred = model1.predict(A_test)
mse = mean_squared_error(b_test, b_pred)
mse_list1.append(mse)

10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step

In [181]:
# Report mean and standard deviation of mean squared errors
mean_mse = np.mean(mse_list1)
std_mse = np.std(mse_list1)

In [182]:
print("Mean of Mean Squared Errors:", mean_mse)
print("Standard Deviation of Mean Squared Errors:", std_mse)

Mean of Mean Squared Errors: 0.013343663601957653
Standard Deviation of Mean Squared Errors: 0.0

In [183]:
data2 = pd.read_csv("normalized_data.csv")

In [184]:
# Extracting features (X) and target variable (y)
P = data2.drop('Strength', axis=1)  # Features
q = data2['Strength']  # Target variable

In [185]:
# Split data into training and test sets
mse_list2 = []
for _ in range(50):
    P_train, P_test, q_train, q_test = train_test_split(P, q, test_size=0.3, random_state=42)

In [186]:
# Train the model
model2.fit(P_train, q_train, epochs=50, verbose=0)

In [187]:
# Evaluate the model
q_pred = model2.predict(P_test)
mse = mean_squared_error(q_test, q_pred)
mse_list2.append(mse)

10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

In [188]:
# Report mean and standard deviation of mean squared errors
mean_mse = np.mean(mse_list2)
std_mse = np.std(mse_list2)

In [189]:
print("Mean of Mean Squared Errors:", mean_mse)
print("Standard Deviation of Mean Squared Errors:", std_mse)

Mean of Mean Squared Errors: 0.00774329839762298
Standard Deviation of Mean Squared Errors: 0.0

In [190]:
# Build the model 
model2 = Sequential()
# Add the input layer and first hidden layer
model2.add(Dense(10, input_dim=A_train.shape[1], activation='relu'))
# Add the second hidden layer
model2.add(Dense(10, activation='relu'))
# Add the third hidden layer
model2.add(Dense(10, activation='relu'))
model2.add(Dense(1))

C:\Users\Jothish Thomas\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [191]:
# Compile the model
model2.compile(optimizer='adam', loss='mean_squared_error')

In [192]:
# Train the model
model2.fit(A_train, b_train, epochs=50, verbose=0)

In [193]:
# Evaluate the model
b_pred = model2.predict(A_test)
mse = mean_squared_error(b_test, b_pred)
mse_list1.append(mse)

10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step

In [194]:
# Report mean and standard deviation of mean squared errors
mean_mse = np.mean(mse_list1)
std_mse = np.std(mse_list1)

In [195]:
print("Mean of Mean Squared Errors:", mean_mse)
print("Standard Deviation of Mean Squared Errors:", std_mse)

Mean of Mean Squared Errors: 0.011407771889728673
Standard Deviation of Mean Squared Errors: 0.0019358917122289784